/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #aad4cf;
}

.container {
    background-color: #d4e9e7;
    width: 1025px;
    height: 1250px;
    margin: 0 auto;
    position: center;
    text-align: center;
}

.topstar{
    height: 340px;
    width: 1025px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: center;
}

.centered {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: 105%;
  }

.topnav a {
    float: center;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
   .topnav{
    word-spacing: 250px;
  }

  .starbottom{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-stretch: 105%;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

  .bottomstar{
    float: left;
    height: 250px;
    width: 250px;
    position: absolute;
    left: 120px;
    }

    article{
    text-align: justify;
    font-size: 18px;
    margin: 20px;
    height:170px;
    margin-left:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }